/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.lit-23 {
        font-size: 16px;
        letter-spacing: 2px;
        line-height: 32px;
    }

    .sem-200 {
        font-size: 45px;
    }

	.sem-124 {
        font-size: 45px;
        line-height: 44px;
        letter-spacing: -1px;
    }

    .sem-60 {
        font-size: 34px;
    }

    .reg-22 {
        font-size: 14px;
        letter-spacing: 0px;
    }

    .reg-24 {
        font-size: 18px;
        line-height: 25px;
    }

    .reg-24 {
        font-size: 17px;
    }

    .btn-tag-1 {
        padding: 15px 16px;
    }

    .btn-tag-1:last-child {
        margin-top: 20px;
    }

    .mt--150 {
        margin-top: -50px;
    }
    
    .mt-lei-300{
        margin-top: 100px;
    }

    .mt-sep-130 {
        margin-top: 450px;
    }

    /* decoration starts */
    .deco {
        top: 620px;
        width: 30%;
    }

    .deco2 {
        width: 30%;
        top: 600px;
    }

    .stitch{
        top: 600px;
    }

    /* header starts*/
    #hamburger {
        margin-left: 1%;
        margin-top: 10%;
    }

    .menu {
        width: 85vw;
        height: 100vh;
    }

    .brand {
        right: 30px;
        width: 30%;
    }

    nav .show {
        padding-top: 100px;
    }

    nav > ul > li {
        width: 75%;
        margin: 0 auto;
        margin-top: 10px;
    }

    /* hero starts */
    .hero {
        background-position: center;
        background-size: auto;
        width: 100%;
        height: 740px;
    }

    .hero-inner {
        margin-left: 0;
    }

    .social-icons {
        display: none;
    }

    /* september starts */
    .september {
        background-position: unset;
        background-size: cover;
        height: 700px;
    }

    /* elegant starts */
    .elegant {
        margin-top: 250px;
    }

    /* milestone starts */
    .m-item-img img {
        width: 100%;
        transform: rotate(90deg);
    }

    .m-item-img {
        position: absolute;
        z-index: -1;
    }

    .m-item-details {
        width: 98%;
        height: 310px;
        min-height: 310px;
        position: absolute;
        left: 1%;
        top: 170px;
        padding: 50px 24px;
        text-align: center;
    }
    
    /* leistungen starts */
    .leistungen {
        height: 550px;
    }

    .coffee-color{
        height: 550px;
    }

    .h-sm{
        height: 700px;
    }

    .lei-text {
        bottom: 75px;
    }

    .leder-text {
        bottom: 270px;
        left: 7%;
    }

    .leder-text h3 span {
        display: block;
    }

    .box {
        top: 200px;
    }

    /* repair starts */
    .repair-item {
        height: 600px;
    }

    .repair-text {
        width: 80%;
        right: 10%;
        top: 275px;
    }

    .repair-text h2 {
        position: absolute;
        left: 0;
        bottom: 250px;
    }

    .repair-item img {
        width: 100%;
    }

    /* manufaktur starts */
    .manufaktur{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 700px;
    }

    .mt-mf-300 {
        margin-top: 180px;
    }

    /*zuliebe starts */
    .zuliebe-left {
        width: 100%;
        float: none;
    }

    .zuliebe-right {
        width: 100%;
        float: none;
        height: auto;
        padding: 50px 0;
    }
    
    /*stimmen starts */
    .py-st-300 {
        padding: 100px 0;
    }

    .stimmen-inner {
        padding: 20px;
    }

    .stimmen-inner h2 {
        font-size: 16px;
    }

    /* footer starts */
    .footer{
        height: 700px;
    }
    
    .footer-left, .footer-middle, .footer-right {
        padding-top: 60px;
    }

    .coffee-color-footer {
       height: 700px;
   }

   .footer-left img {
        right: auto;
        left: 55%;
        width: 20%;
        top: 110px;
    }

    /*mabshuhe starts */
    .pt-200 {
        padding-top: 0;
    }
    
    .subpage {
        height: 1600px;
    }

    .mabshuhe-inner {
        position: relative;
        top: 165px;
        right: 0;
    }

    .mabshuhe-inner h2 {
        right: 0;
        top: 25px;
        font-size: 40px;
    }

    .mab-img img {
        position: relative;
        width: 100%;
        right: 0;
        top: 165px;
        float: none;
    }

    .mabshuhe p{
        font-size: 14px;
    }

    /* pfledge starts */
    .pfledge-inner {
        position: relative;
        top: 200px;
        right: 0;
    }

    /* pfledge starts */
    .sub-p{
        height: 1600px;
    }

    .pflege-list ul li p span {
        display: inline;
    }

    /* impression starts */
    .impress-inner {
        position: static;
        padding-top: 150px;
    }

    .pt-im-50 {
        padding-top: 50px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .reg-24 {
        font-size: 19px;
    }
    
	.lit-23 {
        font-size: 18px;
        letter-spacing: 5px;
    }

    .sem-200 {
        font-size: 100px;
    }

	.sem-124 {
        font-size: 81px;
        line-height: 78px;
        letter-spacing: -3px;
    }

    .reg-22 {
        font-size: 18px;
        letter-spacing: 0px;
    }

    .mt--150 {
        margin-top: -50px;
    }
    
    .mt-lei-300{
        margin-top: 200px;
    }

    .h-sm{
        height: 700px;
    }

    /* decoration starts */
    .deco {
        top: 670px;
    }

    .stitch{
        top: 600px;
    }

    /*header starts */
    nav .show {
        padding-top: 100px;
    }

    nav > ul > li {
        width: 75%;
        margin: 0 auto;
        margin-top: 10px;
    }

    /* hero starts */
    .hero {
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 940px;
    }

    .hero-inner {
        margin-left: 0;
    }

    .social-icons {
        right: 20px;
    }

    /* september starts */
    .offset-md-sep {
        margin-left: 8% !important;
    }

    .col-md-sep {
        -ms-flex: 0 0 80.666667% !important;
        flex: 0 0 80.666667% !important;
        max-width: 80.666667% !important;
    }

    .september {
        background-position: top;
        background-size: contain;
        height: 1080px;
    }

    /* elegant starts */
    .elegant {
        position: relative;
        bottom: 100px;
    }

    /* milestone starts */
    .m-item-details {
        width: 400px;
        min-height: 380px;
        padding: 40px;
    }

    .m-item-img {
        position: static;
    }

     .m-item-img img {
        width: 65%;
    }

    .responsive1 .slick-prev {
        top: 650px;
        right: 55%;
    }
    
    .responsive1 .slick-next {
        top: 650px;
        right: 41%;
    }

    .responsive2 .slick-next {
        top: 100px;
        right: 12%;
    }

    .responsive2 .slick-prev {
        top: 100px;
        right: 26%;
    }

    /* leistungen starts */
    .lei-text {
        bottom: 110px;
    }

    .leder-text {
        bottom: 350px;
        left: 7%;
    }

    .leder-text h1 span {
        display: block;
    }

    .box {
        top: 250px;
    }

    /* repair starts */
    .repair-item {
        height: 600px;
    }

    .repair-text {
        width: 70%;
        right: 10%;
        top: 275px;
    }

    .repair-text h2 {
        position: absolute;
        right: 0;
        bottom: 250px;
    }

    .repair-item img {
        width: 60%;
    }

    /* manufaktur starts */
    .manufaktur{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 700px;
    }

    .mt-mf-300 {
        margin-top: 180px;
    }

    /*zuliebe starts */
    .zuliebe-left {
        width: 100%;
        float: none;
    }

    .zuliebe-right {
        width: 100%;
        float: none;
        height: auto;
        padding: 50px 0;
    }

    /*stimmen starts */
    .py-st-300 {
        padding: 100px 0;
    }

    .stimmen-inner {
        width: 70% !important;
        left: 15%;
        padding: 50px;
    }

    .stimmen-inner h2 {
        font-size: 30px;
    }

    /* footer starts */
    .footer{
        height: 700px;
    }
    
    .footer-left, .footer-middle, .footer-right {
        padding-top: 60px;
    }

    .coffee-color-footer {
       height: 700px;
   }

   .footer-left img {
        right: auto;
        left: 50%;
        width: 15%;
        top: 130px;
    }

    /*mabshuhe starts */
    .pt-200 {
        padding-top: 0;
    }
    
    .mabshuhe {
        height: 900px;
    }

    .mabshuhe-inner {
        position: relative;
        bottom: 30%;
        right: 0;
    }

    .mabshuhe-inner h2 {
        right: 0;
    }

    .mab-img img {
        position: relative;
        width: 40%;
        right: 5%;
        top: 50%;
        float: right;
    }

    .sem-mb-60 {
        font-size: 36px;
    }

    .mabshuhe p{
        font-size: 14px;
    }

    /* pfledge starts */
    .pfledge-inner {
        position: relative;
        top: 120px;
        right: 0;
    }

    .sub-p{
        height: 1200px;
    }

    /* impression starts */
    .impress-inner {
        position: static;
        padding-top: 150px;
    }

    .pt-im-50 {
        padding-top: 50px;
    }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .reg-24 {
        font-size: 19px;
    }

	.lit-23 {
        font-size: 18px;
        letter-spacing: 5px;
    }

    .sem-200 {
        font-size: 100px;
    }

	.sem-124 {
        font-size: 81px;
        line-height: 78px;
        letter-spacing: -3px;
    }

    .reg-22 {
        font-size: 18px;
        letter-spacing: 0px;
    }
    
    .mt-lei-300{
        margin-top: 200px;
    }

    .mt--150 {
        margin-top: 0px;
    }

    .mx-leder{
        margin-left: 1rem !important;
    }

    /* decoration starts */
    .deco {
        top: 730px;
    }

    .stitch{
        top: 600px;
    }

    /*header starts */
    nav .show {
        padding-top: 100px;
    }

    nav > ul > li {
        width: 75%;
        margin: 0 auto;
        margin-top: 10px;
    }

    /* hero starts */
    .hero {
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 1080px;
    }

    .hero-inner {
        margin-left: 0;
    }

    .social-icons {
        right: 20px;
    }

    /* september starts */
    .offset-md-sep {
        margin-left: 8% !important;
    }

    .col-md-sep {
        -ms-flex: 0 0 80.666667% !important;
        flex: 0 0 80.666667% !important;
        max-width: 80.666667% !important;
    }

    .september {
        background-position: top;
        background-size: contain;
        height: 1080px;
    }

    /* elegant starts */
    .elegant {
        position: relative;
        bottom: 100px;
    }

    /* milestone starts */
    .m-item-details {
        width: 400px;
        min-height: 380px;
        padding: 40px;
    }

    .m-item-img {
        position: static;
    }

     .m-item-img img {
        width: 65%;
    }

    /* leistungen starts */
    .lei-text {
        bottom: 110px;
    }

    .leder-text {
        bottom: 275px;
        left: 7%;
    }

    .leder-text h3 span {
        display: block;
    }

    .box {
        top: 300px;
    }

    /* repair starts */
    .repair-item {
        height: 600px;
    }

    .repair-text {
        width: 70%;
        right: 10%;
        top: 275px;
    }

    .repair-text h2 {
        position: absolute;
        right: 0;
        bottom: 250px;
    }

    .repair-item img {
        width: 75%;
    }

    .responsive1 .slick-prev {
        top: 650px;
        right: 55%;
    }
    
    .responsive1 .slick-next {
        top: 650px;
        right: 41%;
    }

    .responsive2 .slick-next {
        top: 100px;
        right: 15%;
    }

    .responsive2 .slick-prev {
        top: 100px;
        right: 30%;
    }

    .coffee-color {
        height: 724px;
    }

    .leistungen {
        height: 724px;
    }

    /* manufaktur starts */
    .manufaktur{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 700px;
    }

    .mt-mf-300 {
        margin-top: 180px;
    }

    /*zuliebe starts */
    .zuliebe-left {
        width: 100%;
        float: none;
    }

    .zuliebe-right {
        width: 100%;
        float: none;
        height: auto;
        padding: 50px 0;
    }

    /*stimmen starts */
    .py-st-300 {
        padding: 100px 0;
    }

    .stimmen-inner {
        width: 70% !important;
        left: 15%;
        padding: 50px;
    }

    .stimmen-inner h2 {
        font-size: 30px;
    }

     /* footer starts */
    .footer{
        height: 700px;
    }
    
    .footer-left, .footer-middle, .footer-right {
        padding-top: 60px;
    }

    .coffee-color-footer {
       height: 700px;
    }

   .footer-left img {
        right: auto;
        left: 50%;
        width: 15%;
        top: 130px;
    }

    /*mabshuhe starts */
    .pt-200 {
        padding-top: 0;
    }
    
    .mabshuhe {
        height: 900px;
    }

    .mabshuhe-inner {
        position: relative;
        bottom: 30%;
        right: 0;
    }

    .mabshuhe-inner h2 {
        right: 0;
    }

    .mab-img img {
        position: relative;
        width: 40%;
        right: 5%;
        top: 50%;
        float: right;
    }

    .sem-mb-60 {
        font-size: 36px;
    }

    .mabshuhe p{
        font-size: 14px;
    }

    /* pfledge starts */
    .pfledge-inner {
        position: relative;
        top: 120px;
        right: 0;
    }

    .sub-p{
        height: 1200px;
    }

    /* impression starts */
    .impress-inner {
        position: static;
        padding-top: 150px;
    }

    .pt-im-50 {
        padding-top: 50px;
    }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1299.98px) {
    .reg-24 {
        font-size: 19px;
    }

	.lit-23 {
        font-size: 18px;
        letter-spacing: 7px;
    }

    .sem-200 {
        font-size: 130px;
    }

	.sem-124 {
        font-size: 100px;
        line-height: 98px;
        letter-spacing: -6px;
    }

    .reg-22 {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .mt--150 {
        margin-top: -50px;
    }
    
    .mt-lei-300{
        margin-top: 200px;
    }

    .mt-300 {
        margin-top: 200px;
    }

    .mt-sep-130 {
        margin-top: 50px;
    }

    .mx-leder{
        margin-left: 2rem !important;
    }

    /* decorations starts*/
    .deco {
        top: 710px;
    }

    .stitch{
        top: 500px;
    }

    /* header starts */
    #hamburger {
        margin-top: 8%;
    }

    nav .show {
        padding-top: 100px;
    }

    nav > ul > li {
        width: 75%;
        margin: 0 auto;
        margin-top: 10px;
    }

    /* hero starts */
    .hero {
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 940px;
    }

    .hero-inner {
        margin-left: 0;
    }

    /* september starts */
    .offset-md-sep {
        margin-left: 35% !important;
    }

    .col-md-sep {
        -ms-flex: 0 0 60.666667% !important;
        flex: 0 0 60.666667% !important;
        max-width: 60.666667% !important;
    }

    .september {
        background-position: top;
        background-size: contain;
        height: 740px;
    }

    /* elegant starts */
    .elegant {
        position: relative;
        bottom: 90px;
    }

    /* milestone starts */
    .m-item-img img {
        width: 84%;
    }

    .m-item-details {
        width: 300px;
        min-height: 320px;
        padding: 20px;
        top: 45px;
        left: 180px;
    }

    /* leistungen starts */
    .lei-text {
        bottom: 130px;
    }

    .leder-text {
        bottom: 300px;
        left: 7%;
    }

    .box {
        top: 200px;
    }

     /* repair starts */
     .repair-item {
        height: 600px;
    }

    .repair-text {
        width: 31%;
        right: 10%;
        top: 40px;
    }

    .repair-item img {
        width: 75%;
    }

    .responsive1 .slick-prev {
        top: 600px;
        right: 55%;
    }
    
    .responsive1 .slick-next {
        top: 600px;
        right: 45%;
    }

    .responsive2 .slick-next {
        top: 500px;
    }

    .responsive2 .slick-prev {
        top: 500px;
        right: 55%;
    }

    .coffee-color {
        height: 724px;
    }

    .leistungen {
        height: 724px;
    }

    /* manufaktur starts */
    .manufaktur{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 700px;
    }

    .mt-mf-300 {
        margin-top: 150px;
    }

    /*zuliebe starts */
    .zuliebe {
        padding-top: 100px;
    }

    .zuliebe-right img{
        width: 15%;
    }

    .zuliebe-right {
        height: auto;
    }

    /*stimmen starts */
    .py-st-300 {
        padding: 100px 0;
    }

    .stimmen-inner {
        padding: 50px;
    }

    .stimmen-inner h2 {
        font-size: 50px;
    }

    /* footer starts */
    .coffee-color-footer {
        height: 700px;
    }

    .sem-foot-60 {
        font-size: 40px;
    }

    .footer-left img {
        right: 2%;
        width: 28%;
        top: 260px;
    }

    /*mabshuhe starts */
    .mabshuhe {
        height: 900px;
    }

    .sem-mb-60 {
        font-size: 36px;
    }

    .mabshuhe p{
        font-size: 14px;
    }

    /* pflege starts */
    .pflege-list ul li p span {
        margin-left: 0 !important;
    }

    /* impression starts */
    .impress-inner {
        left: 14%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) and (max-width: 1531.98px){
    .reg-24 {
        font-size: 21px;
    }

    .lit-23 {
        font-size: 20px;
        letter-spacing: 8px;
    }

    .sem-200 {
        font-size: 180px;
    }

	.sem-124 {
        font-size: 110px;
        line-height: 107px;
        letter-spacing: -6px;
    }

    .reg-22 {
        font-size: 20px;
        letter-spacing: 1px;
    }
    
    .mt-lei-300{
        margin-top: 280px;
    }

    .mt-300 {
        margin-top: 200px;
    }

    .mt-sep-130 {
        margin-top: 130px;
    }

    .mx-leder{
        margin-left: 3rem !important;
    }

    /* decorations */
    .deco {
        top: 716px;
    }

    .deco2 {
        top: 500px;
    }

    .stitch{
        top: 530px;
    }

    .social-icons ul li a {
        font-size: 30px;
    }

    /*header starts */
    nav .show {
        padding-top: 100px;
    }

    nav > ul > li {
        width: 75%;
        margin: 0 auto;
        margin-top: 10px;
    }

    /* hero starts */
    .hero {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 940px;
    }

    .hero-inner {
        margin-left: 8%;
    }

     /* september starts */
     .september {
        background-position: top;
        height: 700px;
    }

    /* elegant starts */
    .elegant {
        margin-top: 100px;
    }

    /* milestone starts */
    .m-item-details {
        width: 400px;
        min-height: 420px;
        padding: 70px;
        top: 45px;
        left: 220px;
    }

    /* leistungen starts */
    .leder-text {
        bottom: 400px;
        left: 10%;
    }

    /* repair starts */
    .repair-text {
        width: 31%;
        right: 10%;
        bottom: -10px;
    }

    .repair-item img {
        width: 75%;
    }

    .responsive2 .slick-next {
        top: 660px;
    }

    .responsive2 .slick-prev {
        top: 660px;
    }

    .coffee-color {
        height: 824px;
    }

    .leistungen {
        height: 824px;
    }

    /* manufaktur starts */
    .manufaktur{
        background-position: center;
        background-size: contain;
        width: 100%;
        height: 825px;
    }

    /*zuliebe starts */
    .zuliebe-right {
        height: 600px;
    }

    /*stimmen starts */
    .py-st-300 {
        padding: 200px 0;
    }

    /* footer starts */
    .coffee-color-footer {
        height: 700px;
    }

    .footer-left img {
        right: -15px;
    }
}
  
/* Extra large devices (large desktops, 1442px and up) */
@media (min-width: 1532px) and (max-width: 2499.99px) {
  /* default screen */
  .social-icons ul li a {
        font-size: 30px;
    }
}

/* Extra large devices (large desktops, 1900px and up) */
@media (min-width: 2500px) {
	
}

  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
	.sem-124 {
        font-size: 37px;
        line-height: 37px;
    }

    .mt-lei-300{
        margin-top: 100px;
    }

    .btn-tag-1:last-child {
        display: block;
        margin-top: 10px;
    }

    /* header starts */
    .backgrounColorToggle {
        margin-left: 18% !important;
    }

    /* decoration starts */
    .deco {
        top: 660px;
    }

    /* elegant starts */
    .elegant{
        margin-top: 390px;
    }

    /*leistungen starts */
    .leder-text {
        bottom: 270px;
    }

    /*repair starts */
    .repair-item {
        height: 700px;
    }

    .repair-text {
        width: 85%;
        top: 235px;
    }

    .repair-text h2 {
        bottom: 400px;
    }

    .h-sm{
        height: 800px;
    }

    /*milestone starts */
    .milestone-item {
        height: 620px;
    }

    .m-item-details {
        top: 135px;
    }

    .m-item-details {
        height: 360px;
        min-height: 360px;
        padding: 43px 10px;
    }

    .stimmen-inner h2 {
        font-size: 14px;
    }

    /* footer starts */
    .footer-left img {
        left: 70%;
    }

   /* mabshuhe starts */
   .subpage {
        height: 1700px;
    }

    .mabshuhe-inner h2 {
        font-size: 30px;
    }

    .sub-p{
        height: 1600px;
    }
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	.sem-124 {
        font-size: 40px;
        line-height: 40px;
    }

    .mt-lei-300{
        margin-top: 100px;
    }

    .btn-tag-1:last-child {
        display: block;
        margin-top: 10px;
    }

    /* decoration starts */
    .deco {
        top: 665px;
    }

    /* elegant starts */
    .elegant{
        margin-top: 300px;
    }

    /* milestone starts */
    .m-item-details {
        top: 135px;
    }

    .m-item-details {
        height: 360px;
        min-height: 360px;
    }

     /*repair starts */
     .repair-item {
        height: 700px;
    }

    .repair-text {
        width: 85%;
        top: 280px;
    }

    .repair-text h2 {
        bottom: 360px;
    }

    .h-sm{
        height: 800px;
    }

    /* footer starts */
    .footer-left img {
        left: 60%;
    }

    /* mabshuhe starts */
    .subpage {
        height: 1700px;
    }

    .mabshuhe-inner h2 {
        font-size: 30px;
    }

    .sub-p{
        height: 1600px;
    }
}