/*
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #F7F8FA;
	background-color: #000000;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}

a{
	margin:0;
	text-decoration: none;
}

a:hover{
	text-decoration:none;
}

a, select , input , textarea , button{
	outline: none !important;
}

.c_custom{
	max-width: 1640px !important;
}

.mt--150{
    margin-top: -150px;
}

.mt-lei-300{
	margin-top: 300px;
}

.mt-300{
	margin-top: 300px;
}

/* buttons */
.btn-tag-1{
	padding: 20px 40px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}

/* colors */
.c-tag-1{
	color: #F8F6F1 !important;
}

.c-tag-2{
	color: #a68260 !important;
}

.c-tag-3{
	color: #000000 !important;
}

.c-tag-4{
	color: #FFFFFF !important;
}

.c-tag-5{
    color: #27231F !important;
}
/* background */
.bg-tag-1{
	background-color: #a68260;
}

/* fonts */
.sem-200 {
	font-family: 'Playfair Display', serif;
    font-size: 200px;
	font-weight: 600;
}

.sem-124{
	font-family: 'Playfair Display', serif;
	font-size: 124px;
	font-weight: 600;
	line-height: 124px;
	letter-spacing: -5px;
}

.sem-60{
	font-family: 'Playfair Display', serif;
	font-size: 60px;
	font-weight: 600;
}

.reg-30{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
    line-height: 33px;
}

.reg-24{
	font-size: 24px;
	line-height: 36px;
}

.reg-22{
	font-size: 22px;
	line-height: 33px;
	letter-spacing: 2px;
}

.lit-23{
	font-size: 23px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 8px;
}

/* header starts */
.header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 9999;
}

.brand {
    position: fixed;
    right: 44px;
}
  
.toggle-btn {
   background-color: rgba(0,128,128 ,0 );
   transition: background-color .2s ease-in-out;
}

nav {
   opacity: 1;
   transition: left 0.3s ease-in-out;
}

nav > ul > li {
    width: 75%;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 25px;
    text-align: left;
    border-bottom: 1px solid #A68260;
}
  
nav > ul > li > a {
    color: black;
    width: 100px;
}

nav ul li a:hover {
   color: #a68260;
   z-index: 1;
}

/* Keyframes */
@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: .5px;
    }
    50% {
      width: 100%;
      height: 1.5px;
    }
    100% {
      width: 100%;
      height: 1.5px;
      background: #333;
    }
}
  
#menu {
    width: 100px;
    height: calc(100% - 70px);
    border: dotted 2px;
    display: block;
    align-items: flex-end;
    justify-content: space-around;
}

rect {
    fill: #fff;
    transition: transform 0.3s ease;
}

.top {
    transform: translateX(17px) rotate(45deg) translateY(-6px);
    transition: transform 0.3s ease;
}

.middle {
    transform: scale(0);
    transition: transform 0.3s ease;
}

.bottom {
    transform: rotate(-45deg) translateX(-40px) translateY(-6px);
    transition: transform 0.3s ease;
}

#hamburger {
    margin-left: 2%;
    margin-top: 4%;
    border: none;
    position: absolute;
    z-index: 1;
}

#hamburger:hover {
	cursor: pointer;
}

#hamburger > p {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.backgrounColorToggle{
    margin-left: 31% !important;
    margin-top: 24% !important;
}

.backgrounColorToggle svg rect {
    fill: #000;
}

.backgrounColorToggle svg .bottom {
    y: 60 !important;
}

.menuToggle {
	display: block;
	height: 350px;
	width: 180px;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
}
  
.menu {
	height: 1080px;
    width: 500px;
	background-color: wheat;
	position: absolute;
	top: 0px;
	left: -1000px;
	transition: left .2s ease-in-out;
}

nav .show {
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 120px;
}

/* hero starts */
.hero {
    background-image: url(../img/header-visuel.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
}

.social-icons {
    position: fixed;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-sizing: border-box!important;
    display: block;
    direction: ltr!important;
    z-index: 9999;
}

.social-icons ul li a{
	color: #808080;
	font-size: 22px;
}

/* september starts */
.september{
	background-image: url(../img/september.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
}

/* elegant starts */
.elegant{
    overflow: hidden;
}

/* milestone starts */
.milestone{
    position: relative;
}

.milestone-item{
    position: relative;
    width: 100%;
    height: 520px;
}

.m-item-img{
    position: absolute;
}

.m-item-details {
    background-color: #fff;
    width: 60%;
    min-height: 420px;
    padding: 90px;
    position: absolute;
    top: 45px;
    left: 250px;
}

.slick-slide:focus {
	outline: none !important;
}

.slick-prev:before {
    content: "‹";
    position: relative;
    top: 4px;
}

.slick-next:before {
    content: "›";
    position: relative;
    top: 4px;
}

.slick-next:before,
.slick-prev:before {
	font-size: 55px;
    color: #A68260;
    line-height: 0;
}

.responsive1 .slick-prev {
    z-index: 9999;
    top: 668px;
    left: auto;
    right: 52%;
}

.responsive1 .slick-next {
    z-index: 9999;
    top: 668px;
    right: 45%;
}

.slick-next, .slick-prev{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #a68260;
}

.slick-dots {
    width: 90%;
}

.slick-dots li button {
	background: transparent;
}

.slick-dots li button:before {
    font-size: 40px;
    color: #a68260 !important;
}

/* decorations */
.deco {
    position: absolute;
    top: 870px;
}

.stitch{
    position: absolute;
    top: 420px;
}

/* leistungen starts */
.leistungen{
    background-image: url(../img/curve.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 902px;
    position: relative;
}

.coffee-color{
    position: absolute;
    width: 100%;
    height: 902px;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 25%);
    z-index: 1;
    overflow: hidden;
}

.lei-text {
    position: relative;
    bottom: 170px;
    z-index: 1;
}

.leder-text{
    position: absolute;
    z-index: 1;
    bottom: 350px;
    left: 10%;
}

.box {
    position: absolute;
    top: 300px;
    left: 28%;
    transform: translate(-50%, -50%);
}

.box span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid #A68260;
	border-right: 2px solid #A68260;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2)
{
	animation-delay: -0.2s;
}

.box span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

.repair-item{
    width:100%;
    position: relative;
}

.repair-text {
    width: 25%;
    position: absolute;
    z-index: 1;
    bottom: 40px;
    right: 10%;
}

.repair-text h2 {
    position: relative;
    right: 150px;
}

.repair-item img{
    width: 85%;
}

.responsive2{
    position: relative;
    z-index: 999;
}

.responsive2 .slick-prev {
    z-index: 9999;
    top: 764px;
    left: auto;
    right: 52%;
}

.responsive2 .slick-next {
    z-index: 9999;
    top: 764px;
    right: 45%;
}